<div id="footer">
  <p>Design and some content &copy; 2007-2011 chorographics | Poetry, lyrics, stories &copy; 2007-2011 Lawrence McDonald, BELLS OF.. |
<% if signed_in? %>
    <%= link_to "Sign out", logout_path, :method => :delete %>
    <% else %>
    <%= link_to "Sign in", login_path %>
  <% end %> </p>
</div>
